/* @settings
name: Directory Files
id: directory-files
settings:
	- 
		id: folder-icon
		title: Folder Icon
		type: variable-text
		default: '📁'
	-
		id: empty-folder-icon
		title: Empty Folder Icon
		type: variable-text
		default: '📂'
	-
		id: note-icon
		title: Note Icon
		type: variable-text
		default: '📝'
*/

li.folder::marker {
	content: var(--folder-icon);
	/* content: '📁'; */
}
li.empty-folder::marker {
	content: var(--empty-folder-icon);
	/* content: '📂'; */
}
li.note::marker {
	content: var(--note-icon);
	/* content: '📝'; */
}
