/* @settings
name: Directory Files
id: directory-files
settings:
	- 
		id: folder-icon
		title: Folder Icon
		type: variable-text
		default: '📁'
		quotes: true
	-
		id: empty-folder-icon
		title: Empty Folder Icon
		type: variable-text
		default: '📂'
		quotes: true
	-
		id: note-icon
		title: Note Icon
		type: variable-text
		default: '📝'
		quotes: true
*/

:root {
	--folder-icon: '📁';
	--empty-folder-icon: '📂';
	--note-icon: '📝';
}

li.folder::marker {
	content: var(--folder-icon);
}
li.empty-folder::marker {
	content: var(--empty-folder-icon);
}
li.note::marker {
	content: var(--note-icon);
}
